.layout.mobile {

  font-size: 0.8em;
  padding: 10px;

  #slide-container {
    position: fixed;
    bottom: 125px;
    top: 30px;
    left: 0px;
    right: 0px;
    padding: 10px;
  }

  #vis {
    position: fixed;
    bottom: 35px;
    left: 10px;
    right: 10px;
    height: 100px;
  }

  #footer {
    position: fixed;
    height: 25px;
    background-color: #fff;
    border-top: 1px solid #cfcfcf;
    bottom: -1px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 0.7em;
    color: #aaa;
    padding-top: 3px;
    width: 100%;
  }
}

