#about-info {

  margin-top: $topbar_height + $default_section_padding;

  .about {
    padding: $default_section_padding;
    .col1 {
      width: 35%;
      float:left;
    }

    .col2 {
      width: 55%
      float: right;
    }
  }
}