.web #vis {
  position: fixed;
  top: $body_padding + $topbar_height + 10;
  bottom: 0;
  left: $questions_width + 15;
  right: $body_padding;

  #waffle {
    top: 0px;
    bottom: 0px;
    position: absolute;
  }
}