 <!-- buttons to rebuild waffle chart -->
<div id="exploreby">
  <h3>Explore this subset by:</h3>
  <div class="subtext">(Click the buttons below to rearrange the grid)</div>

  <ul>
    <li>
      Major Version #
    </li>

    <li>
      Age
    </li>

    <li>
      Dependents
    </li>
  </ul>

  <!-- legend for how much each circle is worth. -->
  <div class="legend">
    <div class="symbol">O</symbol>
    Each symbol is equal to 50 packages
  </div>

</div>

<!-- Questions for every breakdown -->
<div id="questions">
  <h3>Questions:</h3>
  <div class="subtext">(Click the bold text to see details)</div>

  <!-- question list, depending on the group -->
  <ul>

  </ul>
</div>