<h1 class="logo">
  <a href="#"><img src="/img/logo.png"></a>
</h1>

<div class="about">
  <p>
  <a href="http://npmjs.org">NPM.js</a> is close to 4 years old (~3.9) and has over 90,000 packages.
  </p>
  <p>
  We wanted to better understand what those packages are, how they are used, and just how
  important they are.
  </p>

  <div class="subtext">
    <div class="symbol"></div>
    Each symbol represents 50 npm packages.
  </div>

  <a class="start" href="#">
    start &raquo;
  </a>
</div>

