<div>
  <div class="about">
    <p>
    <a href="http://npmjs.org">NPM</a> (Node Package Manager) is the default package manager for Node.js. As of September 22nd 2014, it has over 99,000 packages hosted, a number that grew by 10,000 packages in the last two months alone.
    </p>
    <p>
    As the npm ecosystem grows, it is essential to understand what these packages are, how they are used, and what the node ecosystem looks
    like as a whole.
    </p>

    <div class="subtext">
      <div class="symbol"></div>
      Each symbol represents 100 npm packages.
    </div>

    <a class="start" href="#">
      start &raquo;
    </a>
  </div>
</div>
