Most packages on npm are of version 0.* (close to 85%.)

<ul>
  <li data-question="releases">
    <div class="partial">releases</div>
    <div class="full">How many <span class="link">releases</span> do packages have?</div>
    <div class="content">

    </div>
  </li>
  <li data-question="updated">
    <div class="partial">updated</div>
    <div class="full">How long has it been since packages been <span class="link">last updated</span>?</div>
    <div class="content">

    </div>
  </li>
</ul>