In the past year alone, there have been 53,767 packages that were added to npm. This is 57% of all packages on npm.

<ul>
  <li data-question="versions">
    <div class="partial">versions</div>
    <div class="full">How do <span class="link">versions</span> distribute across age?</div>
    <div class="content"></div>
  </li>

  <li data-question="top_5_deep_dependents">
    <div class="partial">dependents</div>
    <div class="full">How many packages are in the top 5% of packages being <span class="link">dependent</span> upon by other packages indirectly?</div>
    <div class="content"></div>
  </li>
</ul>
