<li>How many <a href="#" data-question="releases">releases</a> do packages have?</li>

<li>How many packages are in the top 5% of packages <a href="#" data-question="direct-dependent">
  being dependent upon directly</a> by other packages? What about <a href="#" data-question="indirect-dependent">
  indirectly</a> (aka, these packages may exist further down the dependency path of other packages)?</li>

<li>How long has it been since packages been <a href="#" data-question="updated">last updated</a>?</li>