<div class="layout single">
  <div class="wrapper">

    <!-- details about diff breakdowns here -->
    <section id="topbar">
    </section>

    <!-- main content area -->
    <section id="questions">
    </section>

    <!-- main visualization area here -->
    <section id="vis">
    </section>

    <!-- about details -->
    <section id="about-info">
    </section>

    <section id="footer">
        Made with ♥ at <a href="http://bocoup.com">Bocoup</a> by <a href="http://twitter.com/ireneros">Irene Ros</a>.
    </section>
  </div>
</div>