/* ------------------ */
/*   Primary styles   */
/* ------------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: $body_padding;
}

a {
  text-decoration: none;
  color: $links_red;
}

a:hover {
  color: $data_medblue ;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.symboldefault {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.symbol {
  background-color: $data_lightblue;
  @extend .symboldefault
}

.subtext {
  color: grey;
  font-size: 0.8em;
}