/* ------------------ */
/*   Primary styles   */
/* ------------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: $background_color;
}

a {
  text-decoration: none;
  color: $links_red;
}

a:hover {
  color: $data_medblue ;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.symbol {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $data_lightblue
}

.subtext {
  color: grey;
  font-size: 0.8em;
}

/* ----------------- */
/* Layout sizing     */
/* ----------------- */

default-section() {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
  position: absolute;
}

#topbar {
  top: 0;
  height: $topbar_height;
  right: 0;
  border-bottom: 1px solid $border_color;
  default-section();

  .category {
    position: absolute;
    top: $topbar_height / 3;

    h4 {
      font-size: 0.8em;
      color: $links_red;
      font-variant:small-caps;
      margin: 0;
      padding: 0;
    }
  }

  h3 {
    padding-top: 0;
    margin-top: 5px;
    color: $links_red;
    font-variant:small-caps;
  }
}

#vis {
  position: absolute;
  top: $topbar_height;
  bottom: $bottombar_height;
  left: 0;
  right: 0;
}
#bottombar {
  bottom: 0;
  right: 0;
  border-top: 1px solid $border_color;
  height: $bottombar_height;
  default-section();

  h3 {
    margin: 0;
    padding: 0;
  }

  /* starting footer */
  .logo {
    width: 266px;
    display: inline-block;
    float:left;
  }

  .about {
    float:left;
    display:block;
    float: none;
    overflow: hidden;

    .subtext {
      float:left;
    }

    .start {
      float:right;
      font-weight: bold;
      font-size: 1.3em;
      font-variant:small-caps;
    }
  }

  /* control footer */
  .exploreby {
    width: 300px;
    display: inline-block;
    float:left;

    ul.grid-menu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      padding-bottom: 40px;

      li {
        display: inline-block;
        float: left;
        padding: 5px;
        border: 1px solid $links_red;
        color: $links_red;
        font-variant:small-caps;
        background-color: $background_color;
        margin-right: 5px;
        cursor: pointer;
      }

      li:hover {
        color: $data_medblue;
        border-color: $data_medblue;
      }

      li.selected {
        font-weight: bold;
        box-shadow:inset 0px 0px 0px 1px $links_red;
      }

      li.selected:hover {
        box-shadow:inset 0px 0px 0px 1px $data_medblue;
      }
    }
  }

  .questions {
    float:left;
    display:block;
    float: none;
    overflow: hidden;

    ul {
      margin-top: 10px;

      li {
        font-size: .8em;
        margin-bottom: 10px;

        a {
          font-weight: bold;
          font-variant:small-caps;
        }
      }
    }
  }
}