$background_color = #F4F4F2;
$links_red = #BC4A44;

$border_color = #939598;
$data_lightblue = #9DDCF6;
$data_medblue = #489BB5;
$data_meddarkblue = #266185;
$data_darkblue = #143E6B;

$topbar_height = 50px;
$bottombar_height = 160px;

default-section() {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
  position: absolute;
}