<div class="slide">
  <h3></h3>
  <a href="http://npmjs.org">NPM</a> (Node Package Manager) is the default package manager for Node.js. As of September 22nd 2014, it has over 99,000 packages hosted, a number that grew by 10,000 packages in the last two months alone.
  </p>
  <p>
  We explore how the NPM ecosystem has evolved across version numbers, dependencies and age.
  </p>

  <a class="start" href="#">
    swipe to start &raquo;
  </a>

  <div class="note">
    For the full interactive experience, explore this in a desktop or tablet web browser. Seriously. There are things flying all over the place... it's a lot more fun =).
  </div>
</div>