<div class="slide slide-5">
  <h3>NPM By Dependents</h3>

  <p>
    We spent some time tracking all the dependencies on every package in NPM. To do this we followed the dependents tree for each package, counting unique dependents.
  </p>
  <p>
    What this means is that if package <b>a</b> has one dependent <b>b</b>, but then there are 100 packages that depend on <b>b</b>, that means <b>a</b> actually has 101 dependents.
  </p>
  <p>
    <b>The majority of packages on npm, 70,828 (75%), have no packages depending on them at all.</b>
  </p>

</div>