<div class="slide slide-5">
  <h3>NPM By Dependents</h3>

  <p>
    <b>Only 1,072 (1%) of the package on npm have more than 100 other packages depending on them</b> directly
    or indirectly (by depending on packages that depend on them etc.)
  </p>
  <p>
    Older packages tend to have more packages depending on them.
  </p>
  <p>
    These numbers don't account for packages that are frequently depended on
    in applications that don't get pushed back into npm (aka, download data.) For example, <code>express</code> is a commonly used module, but most likey for specific products and applications that are not distributed back via NPM. We don't account for these numbers.
  </p>

</div>