<div class="category-description">
  <p>
    Packages on npm declare a version for their releases. The version of the package is specified by <a href="http://semver.org/">Semantic Versioning</a>. A version number is written like so: <code>major.minor.patch</code>.
  </p>
  <p>
    A major version increment is a big deal in theory - packages should only increment a major version when when they introduce incompatible API changes. Most packages on npm (82%) have a major version of zero (0.*...).
  </p>
</div>

<ul>
  <li data-question="releases">
    <div class="partial">releases</div>
    <div class="full">How many <span class="link">releases</span> do packages have?</div>
    <div class="content">

    </div>
  </li>
  <li data-question="updated">
    <div class="partial">updated</div>
    <div class="full">How long has it been since packages been <span class="link">last updated</span>?</div>
    <div class="content">

    </div>
  </li>
</ul>