<div class="category-description">
  <p>
    Packages are being added to npm at a very fast pace. In the past year alone, 53,767 packages were added, which is 57% of all packages on npm!
  </p>
</div>

<ul>
  <li data-question="versions">
    <div class="partial">versions</div>
    <div class="full">How do <span class="link">versions</span> distribute across age?</div>
    <div class="content"></div>
  </li>

  <li data-question="top_5_deep_dependents">
    <div class="partial">dependents</div>
    <div class="full">How many packages are in the top 5% of packages being <span class="link">dependent</span> upon by other packages?</div>
    <div class="content"></div>
  </li>
</ul>
