.slides {

  hr {
    padding: 0;
    margin: 0;
  }

  .slide {
    width: 100%;
    margin: 0 auto;

    .start {
      text-align:right;
      display:inline-block;
      width: 100%;
    }
  }

  .note {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 10px;
    padding-left: 0px;
    color: $data_darkblue;
  }
}