$links_red = #BC4A44;
$data_darkblue = #143E6B;
$data_lightblue = #9DDCF6;
$border_color_light= #cfcfcf;

$body_padding = 30px;
$default_section_padding = 20px;
$background_color = #F4F4F2;
$background_color_hover= #Fafafa;
$background_color_selected = #EDEDED;

$border_color = #939598;

$data_medblue = #489BB5;
$data_meddarkblue = #266185;

$topbar_height = 49px;

$questions_width = 380px;

$vis_topbar_height = 49px;

$bottombar_height = 210px;
$bottombar_question_height = 50px;

default-section() {
  padding: $default_section_padding;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: absolute;
}

default-section-fixed() {
  padding: $default_section_padding;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: fixed;
}