/* ------------------ */
/*   Primary styles   */
/* ------------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

p {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: $links_red;
}

a:hover {
  color: $data_medblue ;
}

ul {
  margin: 0;
  padding: 0;
}

object, img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.symboldefault {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.symbol {
  background-color: $data_lightblue;
  @extend .symboldefault
}

.subtext {
  color: grey;
  font-size: 0.8em;
}

.help {
  position: relative;
  /* right: 30px; */
  top: -28px;
  background-color: #eaeaea;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #eaeaea;
  display: inline-block;
  float: right;
  text-align: center;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

.help:hover {
  background-color: $links_red;
  border-color: $links_red;
}