<div class="slide">
  <h3>NPM By Version Numbers</h3>

  <p>
    Packages on npm declare a version for their releases. The version of the package is specified by <a href="http://semver.org/">Semantic Versioning</a>. A version number is written like so: <code>major.minor.patch</code>.
  </p>
  <p>
    A major version increment is a big deal in theory - packages should only increment a major version when when they introduce incompatible API changes. Most packages on npm (82%) have a major version of zero (0.*...).
  </p>

</div>