#bottombar {
  bottom: 0;
  right: 0;
  border-top: 1px solid $border_color;
  height: $bottombar_height;
  default-section();

  h3 {
    margin: 0;
    padding: 0;
  }

  /* starting footer */
  .logo {
    width: 266px;
    display: inline-block;
    float:left;
  }

  .about {
    float:left;
    display:block;
    float: none;
    overflow: hidden;

    .subtext {
      float:left;
    }

    .start {
      float:right;
      font-weight: bold;
      font-size: 1.3em;
      font-variant:small-caps;
    }
  }


  .questions {
    float:left;
    display:block;
    float: none;
    overflow: hidden;

    ul {
      margin-top: 10px;

      li {
        font-size: .8em;
        margin-bottom: 10px;

        a {
          font-weight: bold;
          font-variant:small-caps;
        }
      }
    }
  }
}