$bargraph_height = 6px;

.question_breakdown {
  width: 98%;
  position: relative;
  margin-top: 10px;
  margin-left: 2%;

  .breakdown {

    // border-left: 1px solid $border_color;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #fafafa;
    padding-left: 10px;

    .barcontainer {
      position: relative;
      width: 100%;
      height: $bargraph_height;
      // border-bottom: 1px solid $border_color_light;

      .bargraph {
        position: absolute;
        top: -5;
        left: 5px;
        bottom: 5px;
        height: $bargraph_height - 1;
      }
    }

    .breakdown-details {
      padding: 7px;
      font-size: 0.8em;
    }

    .close {
      display: none;
    }
  }

  .breakdown.selected {
    color: $data_medblue;
    background-color: $background_color_selected;
    position: relative;

    .close {
      display: inline;
      position: absolute;
      top: $bargraph_height + 3;
      right: $bargraph_height + 3;
    }
  }

  .breakdown:hover {
    background-color: $background_color_selected;
    box-shadow: inset 2px 0px 0px 0px $links_red;
  }


}