#question-breakdown {
  width: 100%
  height: $bottombar_question_height;
  position: absolute;
  bottom: $bottombar_height - $bottombar_question_height;;
  background-color: white;
  left: 0;
  right: 0;
  border-top: 1px solid $border_color;
}