#questions {

  width: $questions_width - 20;
  position: absolute;
  background-color: white;
  top: $body_padding + $topbar_height;
  left: $body_padding;

  default-section();

  padding: 20px;

  .questions {
    a.selected {
      color: $data_medblue;
    }
  }

  ul {
    list-style-type: none;

    li {
      font-size: small;
      margin-top: 10px;
      cursor: pointer;

      .partial {
        display: none;
        color: $links_red;
        font-variant:small-caps;
        font-weight: bold;
        background-color: $background_color;
        padding: 10px;
      }

      .full {

        .link {
          color: $links_red;
          font-variant:small-caps;
          font-weight: bold;
        }

        padding: 10px;
        background-color: $background_color;
      }

      .full:hover {
        background-color: $background_color_hover;
        box-shadow: inset 2px 0px 0px 0px $links_red;
      }

      .content {

        ul {
          li {
            position:relative;
            padding: 10px;
            margin: 0px
          }
          li.highlights:hover {
            background-color: #fafafa;
          }
          li.highlights:hover:after {
            color: $links_red;
            font-size: 0.9em;
            font-weight: bold;
            position: absolute;
            bottom: 10px;
            right: 10px;
            content: "\BB";
          }
        }
      }
    }

  }

}