<ul>
  <li class="highlights" data-highlighted="1_release">
  A package on NPM will often have more than one release. There are 27,939 packages (29.5%) that only have one release (that first published package).
  </li>

  <li class="highlights" data-highlighted="1_release,2-3_releases">
    The median value is 3 releases: 50% of packages on NPM have 3 releases or more, while the othe 50% have less than 3.
  </li>

  <li data-highlighted="">
    The higher a package’s major version is, the more likely it is to have more releases: Packages whose major version is greater than 1.* actually have a higher median value of 7, and a mean of 13.
  </li>

  <li data-highlighted="">
    The package with the most versions is <code>apostrophe</code> with 433 releases! It's current version number is 0.5.197
  </li>
</ul>