<ul>
  <li class="highlights" data-highlighted="top5">
    In the top 5% of dependend upon packages, older packages have slightly more dependents, but not much.
      <ol>
        <li>Past year: 1,317 (median 20)</li>
        <li>the year before: 1,866 (median 24)</li>
        <li>the before that: 1,931 (median 33)</li>
      </ol>
      Age is very weak predictor of dependency (which makes sense - older packages have had more time to get a user base but there are enough very popular and relatively newer packages that break that trend.)
  </li>
</ul>