<ul>
  <li class="highlights" data-highlighted="within_last_year">
    Most packages on npm, 71%, have been updated within the last year. 21% have been
    updated the year before that.
  </li>

  <li data-highlighted="">
    Packages that have a higher version number tend to be updated more frequently.
    For example, packages whose major verison is 0.* have a median of 210 days since
    last updated. Packages whose major version is greater than 1.* have a median of 112 days
    since last updated.
  </li>

  <li data-highlighted="">
    Close to a third of all packages (30%) have been updated within the last 3
    months alone.
  </li>
</ul>