<ul>
  <li class="highlights" data-highlighted="version_major_zero">
    Regardless of the age, most packages aren't past major version 0.*. Over 80% of packages in every age bucket are 0.*.
  </li>
  <li data-highlighted="">
    The semver specification gets applied fairly liberaly to package versioning. Some are very careful to bump minor and patch versions, while others speed along past the infamous 1.*, never to look back. Looking at the relationship between package age and its major version, there is no correlation between the two.
  </li>
</ul>
